.nav {
    position: fixed;
    z-index: 50;
    top: 50%;
    transform: translate(0, -50%);
    left: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;

    &::before,
    &::after {
        @include setFontPublicSans500(12px, 1.255, 0.04em, getColorBlack());
    }

    &::before {
        content: "[";
        margin-bottom: 10px;
        transform: rotate(90deg);
    }

    &::after {
        content: "]";
        margin-top: 10px;
        transform: rotate(90deg);
    }
}

.nav_item {
    width: 6px;
    height: 6px;
    flex-shrink: 0;
    background: #E4E4E4;

    transition: background 400ms ease;

    &._active {
        background: #E81899;
    }
}
