.socials {
    @include setGrid(5, 24, 24, a);
}

.socials_link {
    padding: 30px 14px;
    border-radius: 17px;
    background: $kColorThemeWhite;
    border: 2px solid transparent;
    transition: border 0.2s ease;
    font-size: 0;

    svg {
        width: 34px;
        height: 34px;
        flex-shrink: 0;
        fill: rgba(#ACACAC, 0.5);
        transition: fill .2s ease;
    }

    .mirror_logo {
        width: 34px;
        height: 34px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            transition: opacity .2s ease;
            opacity: 0.3;
        }
    }

    span {
        font: 500 24px/1.255 $kFontClashGrotesk;
        letter-spacing: -0.02em;
        color: #000;
    }

    &:hover {
        border-color: $kColorPink;

        &:nth-child(1) svg {
            fill: #5765F1;
        }
        &:nth-child(2) svg {
            fill: black;
        }
        &:nth-child(3) {
            .mirror_logo img {
                opacity: 1;
            }
        }
        &:nth-child(4) svg {
            fill: $kColorPink;
        }
        &:nth-child(5) svg {
            fill: #FF0000;
        }
    }
}

.socials_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

@media screen and (max-width: $kLaptopSM) {
    .socials_link {
        gap: 8px;

        svg, .mirror_logo {
            width: 26px;
            height: 26px;
        }

        span {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: $kTabletXXL) {
    .socials {
        @include setGrid(5, 12, 12, a);
    }
}

@media screen and (max-width: $kTabletM) {
    .socials_link {
        span {
            display: none;
        }
        svg {
            fill: #ACACAC;
        }
    }
}

@media screen and (max-width: $kMobileXXL) {
    .socials {
        @include setGrid(5, 9, 9, a);
    }
    .socials_link {
        padding: 17px;
        border-radius: 12px;
    }
}