.group {
    border-radius: 24px;
    background: #fff;
}
.group_btn {
    padding: 30px 14px;
    padding-left: 24px;
    border-radius: 24px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;

    @include setFontClashGrotest500(28px, 1.255, -0.02em, getColorBlack());

    &::after {
        content: "";
        display: block;
        width: 33px;
        height: 33px;
        border-radius: 100px;

        background: linear-gradient(
                to right,
                transparent 0,
                transparent 6.25px,
                #292D32 6.25px,
                #292D32 7.75px,
                transparent 7.75px,
                transparent 100%
            ),
            linear-gradient(
                to bottom,
                transparent 0,
                transparent 6.25px,
                #292D32 6.25px,
                #292D32 7.75px,
                transparent 7.75px,
                transparent 100%
            );
        background-size: 14px 14px;
        background-position: center;
        background-repeat: no-repeat;
        transition: transform 150ms ease;
    }

    &._active {
        &::after {
            transform: rotate(45deg);
        }
    }
}

.group_content {
    padding: 24px;
    padding-top: 0;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.group_link {
    display: flex;
    align-items: center;
    gap: 14px;

    @include setFontPublicSans500(16px, 1.255, -0.02em, getColorBlack());

    > img {
        width: 36px;
        height: 36px;
        border-radius: 8px;
        flex-shrink: 0;
    }

    > svg {
        margin-left: -10px;
        width: 18px;
        height: 18px;
        stroke: getColorPink();
    }
}

.accordion,
.accordion_sublink {
    display: flex;
    align-items: center;
    gap: 14px;

    @include setFontPublicSans500(16px, 1.25, -0.02em, getColorBlack());

    img {
        width: 36px;
        height: 36px;
        border-radius: 8px;
    }

    svg {
        margin-left: -10px;
        width: 18px;
        flex-shrink: 0;
        stroke: getColorPink();
    }
}.accordion_root {
    width: 100%;
}

.accordion {
    margin-bottom: 2px;
    width: 100%;
    svg {
        width: 14px;
        height: 14px;
        stroke: getColorBlack();
    }
}

.accordion_content {
    padding-top: 20px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.accordion_sublink {
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
}

.accordion_sublink_inner {
    display: flex;
    align-items: center;
    gap: 4px;

    svg {
        margin-left: 0;
    }
}

.accordion_sublink_desc {
    @include setFontPublicSans400(12px, 1.25, 0.01em, #444A55);
}