.header {
    position: fixed;
    z-index: 301;
    left: 0;
    top: 20px;
    width: 100%;
}
.header_wrapper {
    height: 60px;
    border-radius: 100px;
    padding: 4px 24px;
    background: getColorStrictWhite();

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    position: relative;
}

.header_logo {
    width: 90px;
    height: 25px;
    font-size: 0;

    svg {
        width: 100%;
        height: 100%;
    }
}

.header_navigation {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header_burger {
    display: none;
}

@media screen and (max-width: 1024px) {
    .header_socials {
        margin-left: auto;
    }
    .header_burger {
        display: block;
        width: 44px;
        height: 44px;
        padding: 13px;

        > strong {
            width: 100%;
            height: 100%;
            position: relative;
            display: block;
        }

        span {
            display: block;
            width: 100%;
            height: 1.5px;
            border-radius: 1.5px;
            background: #141B34;
            position: absolute;
            left: 0;
            transition: 200ms ease;
            transition-property: transform, top, opacity;

            &:first-child {
                top: 0;
            }

            &:nth-child(2) {
                top: 50%;
                transform: translateY(-50%);
            }

            &:nth-child(3) {
                top: 100%;
                transform: translateY(-100%);
            }
        }

        &._active {
            span {
                &:nth-child(1) {
                    top: 50%;
                    transform: translateY(-50%) rotate(45deg);

                }
                &:nth-child(3) {
                    top: 50%;
                    transform: translateY(-50%) rotate(-45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                }
            }
        }
    }
}

@include -screen-sm {
    .header_wrapper {
        padding-left: 18px;
        padding-right: 18px;
    }
    .header_socials {
        display: none !important;
    }
}