.about {
    padding: 175px 0 195px;
}
.about_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.about_taiko {
    width: 642px;
    aspect-ratio: 1 / 0.554;

    background: url("/img/home-new/taiko-holder.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    z-index: 1;

    display: flex;
    justify-content: center;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-49.8%, -50%);
        width: 242.52%;
        aspect-ratio: 1 / 0.29351;
        background: url("/img/home-new/bg-grid.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center bottom;
        mask: radial-gradient(black, black, transparent);
    }

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.about_taiko_inner {
    @keyframes bgAnimation {
        0% {
            background-position: -100% 0;
        }
        30%, 100% {
            background-position: 200% 0;
        }
    }

    height: 100%;
    aspect-ratio: 1.17 / 1;

    position: relative;

    background: linear-gradient(to right, transparent 0%, rgba(#e81899, 0.25) 100%);
    background-size: 50% 100%;
    background-position: -100% 0;
    background-repeat: no-repeat;
    animation: bgAnimation 6s infinite ease-out;
}

.about_taiko_img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);

    aspect-ratio: 1;
    width: 74%;
}

.about_left {
    position: relative;
    z-index: 2;
    max-width: 260px
}
.about_label {
    @include setFontPublicSans600(14px, 1.2, 0.04em, getColorPink());
    text-transform: uppercase;
}
.about_title {
    margin-top: 30px;
    @include setFontClashGrotest500(85px, 0.9, -0.02em, #000);
}
.about_right {
    position: relative;
    z-index: 2;
    padding-top: 40px;
    max-width: 320px;
}
.about_text {
    @include setFontClashGrotest500(28px, 0.95, normal, getColorBlack());
}
.about_subtext {
    margin-top: 28px;
    @include setFontPublicSans400(18px, 1.2, -0.02em, getColorBlack(0.6));
}
@include -screen-xxl {
    .about_taiko {
        width: 500px;
    }
    .about_title {
        font-size: 68px;
    }
    .about_text {
        font-size: 24px;
    }
    .about_right {
        max-width: 280px;
    }
    .about_subtext {
        font-size: 16px;
    }
}
@include -screen-xl {
    .about {
        padding: 70px 0 120px;
        overflow: hidden;
    }
    .about_wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
        gap: 40px;
    }
    .about_taiko {
        position: relative; 
        inset: auto;
        transform: none;
    }
    .about_left {
        text-align: center;
        max-width: 350px;
    }
    .about_right {
        text-align: center;
        max-width: 400px;
    }
    .about_subtext {
        margin-top: 24px;
    }
}

@include -screen-md {
    .about_title {
        font-size: 55px;
    }
    .about_text {
        font-size: 28px;
    }
}

@include -screen-sm {
    .about_taiko {
        width: 460px;
    }
}