.blogs {
    display: flex;
    flex-direction: column
}

.list {
    @include setGrid(3, 24, 24);
}

.list_item {
    display: flex;
    flex-direction: column;
}

.blog {
    flex-grow: 1;
}

.countShow {
    margin: 28px auto 0;
    padding: 10px;
    border-radius: 100px;
    background: #EFEFEF;

    font: 500 14px/1 $kFontPublicSans;
    color: #444A55;
}

.viewMore {
    margin: 38px auto 0;

    [data-icon] {
        transform: rotate(90deg);
    }
}

@media screen and (max-width: $kLaptopXXL) {
    .list {
        @include setGrid(3, 12, 12);
    }

    .blog {
        font-size: 15px;
    }
}

@media screen and (max-width: $kLaptopM) {
    .list {
        @include setGrid(2, 24, 24);
    }
}

@media screen and (max-width: $kLaptopSM) {
    .list {
        @include setGrid(3, 24, 24);
    }
}

@media screen and (max-width: 900px) {
    .list {
        @include setGrid(2, 24, 24);
    }
}

@media screen and (max-width: $kTabletSM) {
    .list {
        @include setGrid(2, 12, 24);
    }
}

@media screen and (max-width: $kMobileXXL) {
    .list {
        @include setGrid(1, 24, 24);
    }
}