.cards {
    padding: 30px 0;
}
.cards_wrapper {
    display: grid;
    gap: 20px;

    &._3 {
        grid-template-columns: repeat(3, 1fr);
    }

    &._4 {
        grid-template-columns: repeat(4, 1fr);
    }
}
.cards_link {
    padding: 24px 24px 32px 24px;
    border-radius: 20px;
    background: #fff;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    position: relative;

    transition: background 200ms ease;

    &[href] {
        &:hover {
            background: darken(#fff, 3%);
        }
    }
}
.cards_link_icon {
    width: 112px;
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
}
.cards_link_title {
    margin-top: auto;
    padding-top: 24px;
    @include setFontClashGrotest500(32px, 0.95, normal, getColorBlack());
}
.cards_link_text {
    margin-top: 24px;
    @include setFontPublicSans400(18px, 1.2, -0.02em, getColorBlack(0.6));
}
.cards_link_coming {
    position: absolute;
    top: 50px;
    right: 30px;
    padding: 2px 10px;
    border-radius: 100px;
    background: getColorPink();
    height: 34px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include setFontClashGrotest500(16px, 1.255, -0.02em, #fff);
}
.cards_link_link {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #f8f8f8;
    padding: 7px;
    stroke: getColorPink();
    position: absolute;
    right: 18px;
    top: 18px;
}

@include -screen-xxl {
    .cards_wrapper._4 {
        grid-template-columns: repeat(3, 1fr);
    }
}
@include -screen-lg {
    .cards_wrapper {
        &._3,
        &._4 {
            grid-template-columns: 1fr 1fr;
        }
    }
}
@include -screen-md {
    .cards_wrapper {
        &._3,
        &._4 {
            grid-template-columns: 1fr;
        }
    }
}
@include -screen-sm {
    .cards_link {
        padding: 24px 20px 40px;
    }
    .cards_link_icon {
        width: 80px;
    }
    .cards_link_coming{
        top: 50px;
        right: 20px;
    }
    .cards_link_title {
        font-size: 24px;
    }
}