.support {
    margin-top: 80px;
}

.content {
    display: flex;
}

.content_left {
    width: 365px;
    flex-shrink: 0;
}

.content_right {
    width: calc(100% - 365px);
    padding-left: 30px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 32px;

    svg {
        width: 32px;
        height: 32px;
        flex-shrink: 0;
        stroke: $kColorBlack;
    }
}

.title_text {
    font: 500 40px/1 $kFontClashGrotesk;
    letter-spacing: -.02em;
    color: $kColorBlack;
    max-width: 240px;
}

.title_highlight {
    color: $kColorPink;
}

.text {
    margin-top: 30px;
    max-width: 270px;
    font: 400 16px/1.4 $kFontPublicSans;
    letter-spacing: -.02em;
    color: rgba($kColorBlack, .6);
}

.apply_button_container {
    margin-top: 30px;
}

.apply_button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #EC407A;
    color: white;
    border-radius: 100px;
    padding: 12px 30px 12px 30px;
    width: 100%;
    font-size: 16px;
    text-decoration: none;
    font-family: $kFontPublicSans;
    font-weight: 500;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: darken(#EC407A, 5%);
    }
}

.arrow_circle {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}

.arrow {
    width: 16px;
    height: 16px;
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.list_item {
    background: #fff;
    border-radius: 16px;
}

@media screen and (max-width: $kLaptopM) {
    .content_left {
        width: 300px;
    }

    .content_right {
        width: calc(100% - 300px);
    }
}

@media screen and (max-width: $kTabletXXL) {
    .content {
        flex-direction: column;
        gap: 40px;
    }

    .content_left,
    .content_right {
        width: 100%;
        padding-left: 0;
    }

    .title {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        svg {
            transform: rotate(90deg);
        }
    }

    .text {
        margin-top: 25px;
        max-width: 100%;
    }

    .apply_button_container {
        margin-top: 24px;
    }

    .apply_button {
        width: auto;
        display: inline-flex;
    }
}

@media screen and (max-width: $kMobileXXL) {
    .title_text {
        font-size: 28px;
    }
}